#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
}
.sticky{
    background-color: white;
    color: black(6, 6, 51);
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}
#safty_link{
    color: black;
    text-decoration: none;
}
 
#misterindia {
    display: none;
    position: absolute;
    background-color:none;
    min-width: 130px;
    text-align: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 10px;
    z-index: 1;
    left: -20px;
    color: white;
  }

#Mister:hover #misterindia {
    display:block;
    cursor: pointer;
  }
  #misterindia>h5:hover{
      background-color: white;
      color: black;
  } 
#Mister {
    position: relative;
    display: inline-block;
  }

  #misterindiagayab{
    display: none;
  }
